@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.text-primary {
  color: #fd6e0a;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul li {
  list-style-type: none;
}

nav li a {
  text-decoration: none;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.dark-2 {
  color: #474747;
}
/* Banner Styles */
.header {
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 35px;
  font-weight: 600;
}
.banner-title {
  font-size: 60px;
  font-weight: bold;
}
.banner-profile-pic {
  width: 550px;
}

.secondary-bg {
  background-color: #fff8f3;
}
/* Main Section */
main {
  max-width: 1100px;
  margin: 0 auto;
}
main section {
  margin-top: 100px;
  margin-bottom: 100px;
}
/* About Section */
.about {
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  font-size: 30px;
}
.section-description {
  padding: 20px;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-description {
  font-weight: 600;
}

/* Skills Section */

.skills {
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 20px;
}

.skill {
  text-align: left;
  padding: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.resume-container {
  display: flex;
  gap: 50px;
}
.experience-description,
.experience-sub-title {
  color: #757575;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.resume hr {
  margin: 20px 0px;
}

.cv {
  margin: 50px auto;
  align-self: center;
}
.text-center {
  text-align: center;
}
footer{
  padding: 100px 150px;
  display: flex;
  gap: 100px;
}
.footer-column{
  width: 50%;
  text-align: left;
}
footer input[type="text"],footer input[type="email"], footer textarea{
  height: 50px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: none;
}
